%% IF specification of protocol.hlpsl

section signature:



section types:

start: message
Ns, Nc, Mess2, Rep, Mess1, ok: text
M, C, m, s, i, c, S: agent
PKs, PKm, pkc, pks, pki, pkm, PKc: public_key
0, State, 3, 5, 1, 2, 6, 4: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(s).
 iknows(c).
 iknows(m).
 iknows(pks).
 iknows(pkc).
 iknows(pkm).
 iknows(pki).
 iknows(inv(pki)).
 iknows(i)


section rules:


